body {
    background-color: #f0f2f6;
    color: #333333;
}

h1 {
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    font-size: 3em; /* Adjust font size */
    white-space: nowrap; /* Prevent line break */
    margin-bottom: 20px;
}

.stTextInput, .stButton {
    width: 100%;
}

.recommendation-card {
    background-color: #0eb5cb; /* Light blue background */
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.recommendation-card h3 {
    color: #3a0590;
}

.recommendation-card p {
    color: #0c0202;
}
.about-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 5px;
}

.about-section h2 {
    color: #930785;
    font-family: 'Arial', sans-serif;
}

.about-section p {
    color: #cccccc;
}

.about-section a {
    color: #058d46;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}
