body {
    background-color: #f0f2f6;
    color: #333333;
}

h1 {
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    font-size: 3em; /* Adjust font size */
    white-space: nowrap; /* Prevent line break */
    margin-bottom: 20px;
}

.stTextInput, .stButton {
    width: 100%;
}

.user-anime-card {
    display: flex;
    align-items: center;
    margin-bottom: 40px; /* Add some space below the user anime card */
}

.user-image-container {
    flex: 1;
    max-width: 200px; /* Set a larger maximum width for the user anime image */
}

.user-image-container img {
    width: 100%;
    border-radius: 5px;
}

.user-info-container {
    flex: 3;
    margin-left: 20px;
}

.recommendation-card {
    background-color: #0eb5cb; /* Light blue background */
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.image-container {
    flex: 1; /* Allow this container to take up 1 part of the available space */
    max-width: 150px; /* Set a maximum width for the image */
}

.image-container img {
    width: 100%; /* Make image fill the container */
    border-radius: 5px; /* Rounded corners for the image */
}

.info-container {
    flex: 3; /* Allow this container to take up 3 parts of the available space */
    margin-left: 20px; /* Space between the image and the text */
}

.recommendation-card h3 {
    color: #3a0590;
}

.recommendation-card p {
    color: #0c0202;
}

.about-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 5px;
}

.about-section h2 {
    color: #930785;
    font-family: 'Arial', sans-serif;
}

.about-section p {
    color: #cccccc;
}

.about-section a {
    color: #058d46;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}
